body {
    background-color: rgba(10, 10, 10, 0.01);
}

.post-wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post-holder {
    display: flex;
    width: 80vw;
    height: 80vh;
    border: 1px solid rgba(10, 10, 10, .1);
    background-color: white;
}

.post-likes {
    color: black;
    font-size: small;
}

.post-img-holder {
    height: 100%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-comments-holder {
    overflow: auto;
    height: 100%;
}


.post-holder img{
    max-width: 100%;
    max-height: 100%;
}

.post-info-holder {
    height: 100%;
    width: 25%;
    display:flex;
    flex-direction: column;
    border-left: 1px solid rgba(10, 10, 10, .1);
}

.poster-info {
    display:flex;
    align-items: center;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid rgba(10, 10, 10, .1);
}

.post-info-holder img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 3px;
}

.post-comment {
    display: flex;
    align-items: center;
    font-size: small;
    margin-top: 3px;
    margin-bottom: 3px;
}

.post-comment-text {
    max-width: 100%;
    overflow-wrap: break-word;
    overflow-x: hidden;
}

.post-comment-submit {
    margin-top: auto;
    border-top: 1px solid rgba(10, 10, 10, .1);
}

.post-comment-submit textarea {
    width: 100%;
    border: none;
}

.post-comment-submit input {
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
}

.post-comment-submit .far {
    color: black;
}

.post-comment-submit i {
    cursor: pointer;
    margin: 3px;
}

.post-comment-submit .fas {
    color: red;
}

.recomended-post-holder {
    margin-top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    border: 1px solid rgba(10, 10, 10, .1)
}

.one-recomended-post {
    position: relative;
    width: 20vw;
    height: 30vh;
    margin: 20px;
    outline: 1px solid rgba(10, 10, 10, .1);
}

.rec-img-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rec-overlay {
    position: absolute;
    display: none;
    justify-content: space-around;
    align-items:center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.one-recomended-post img {
    max-width: 100%;
    max-height: 100%;
}

.one-post-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .1);
}
