#postFormContainer {
	width: 500px;
	height: 100%;
	border: 1px solid lightgrey;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: rgba(var(--i1d, 38, 38, 38), 1);
}

#imgContainer {
	position: relative;
	height: 200px;
	width: 100%;
	overflow: hidden;
	padding: 20px;
}

#postImage {
	width: 450px;
	height: auto;
	overflow: hidden;
}

#imgUploadPrompt {
	font-size: 20px;
	color: rgba(var(--i1d, 38, 38, 38), 1);
	font-weight: 500;
	cursor: pointer;
	text-align: center;
}

#imgCaptionContainer {
	padding: 20px;
	display: flex;
	align-items: flex-start;
	width: 450px;
}

#captionLabel {
	/* padding: 20px; */
}

#imgCaptionInput {
	border: 1px solid lightgray;
	width: 400px;
	height: 100px;
	resize: none;
}

#imgCaptionInput:focus {
	outline: none;
	border: 2px solid black;
	border-radius: 3px;
}

#imgPostButton {
	cursor: pointer;
	background-color: #0095f6;
	border-radius: 3px;
	border: 1px solid #0095f6;
	color: white;
	width: 55px;
	height: 20px;
	margin: 20px;
}
